h1{
  color: red;
  text-align: center;
  font: Garamond;
}

a.btn-btn-primary{
            color: rgb(179, 0, 0);


}

baking-btn.hover{
            font-size:1.2em;
            transition: 0.6s ease;
}
