h1{
  color: red;
  text-align: center;
  font: Garamond;
}


a.btn-btn-primary{
                  color: rgb(255, 230, 230);
                  background-color: rgb(179, 0, 0);
                  border-radius: 4px;
                  padding: 16px 20px;
                  font-size: 24px;
}

a.btn-btn-primary:hover {
                        background-color: white;
                        color: rgb(179, 0, 0);
                        transition-duration: 0.4s;
}


.carousel-inner {
  height:630px;
}

.card-img-top {
  height: 420px;
  width: 480px;
}
