h1{
  color: red;
  text-align: center;
  font: Garamond;
}


a.btn-btn-primary{
                  color: rgb(255, 230, 230);
                  background-color: rgb(179, 0, 0);
                  border: none;
                  font-size: 20px;
}


.carousel-inner {
  height:630px;
}
